.homepage_initials h1 {
  color: powderblue;
  position:fixed;
  top: 0;
  left: 0;
  font-size:20pt;
  margin-top:60px;
  margin-left:30px;
}

.initials h1 {
  color: powderblue;
  position:fixed;
  top: 0;
  left: 0;
  font-size:20pt;
  margin-top:60px;
  margin-left:30px;
}

.hamburger {
  display: none;
}

body {
  margin: 0;
}

div {
  margin: 0;
}

/* Font Styles and Sizes */

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 60pt;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 45pt;
}

h3 {
  font-family: 'Helvetica';
  font-weight: lighter;
  font-size: 25pt;
}

p {
  font-family: 'Helvetica';
  font-weight: lighter;
  font-size: 12pt;
}

.desc {
  font-family: 'Helvetica';
  font-size: 12pt;
  color: tomato;
}

/* nav bar links */
header a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16pt;
  color: tomato;
}


/* HIGH FIVE DROP DOWN MENU */

.high_five_text p {
  position: fixed;
  top: 120px;
  right: 45px;
  color: tomato;
}

.dropbutton .hand_logo {
  height: 100px;
  width: 100px;
  position: fixed;
  right: 20px;
  top: 20px;
}

.dropbutton .high_five {
  height: 100px;
  width: 100px;
  position: fixed;
  right: 20px;
  top: 20px;
  opacity: 0;
}

.dropbutton:hover .high_five {
  opacity: 1;
}

.dropdown_content {
  right: 120px;
  display: none;
  position: fixed;
  z-index: 1;
}

.dropdown:hover .dropdown_content {
  display: flex;
  flex-direction: row;
}

.dropdown_content:hover a:hover {
  background-color: powderblue;
  border-radius: 100%;
}

.dropdown:hover .high_five {
  opacity: 1;
}

.dropdown:hover .high_five_text {
  opacity: 0;
}

.dropdown_content a {
  color: tomato;
  margin-right: 40px;
  margin-top: 20px;
  height: 100px;
  width: 100px;
  text-decoration: none;
  line-height: 100px;
  text-align: center;
  display: block;
}

/* HOMEPAGE FORMATTING */

.homepage {
  background-color: blanchedalmond;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.homepage_text {
  color: tomato;
  text-align: center;
}

.homepage_text h1 div {
  display: inline-block;
}

.homepage_text h1 .letter:hover {
  /* source -  https://www.w3schools.com/css/css3_3dtransforms.asp */
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  color: orange;
}


/* ABOUT PAGE FORMATTING */

.about {
  background-color: blanchedalmond;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aboutText{
  width: 40%;
}

.aboutText h2 {
  color: tomato;
  padding-left: 20%;
  padding-bottom: 12px;
  margin: 0;
}

.aboutText p {
  color: tomato;
  padding-left: 20%;
  padding-right: 10%;
  margin: 0;
  line-height: 2;
}

.aboutImage img {
  text-align: center;
  width: 300px;
}

.aboutImage img:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/* PROJECTS PAGE FORMATTING */

/*
.projects {
  background-color: blanchedalmond;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects_content {
  margin: 0;
}

.projects h2 {
  color: #EDAC92;
  margin-top: 0;
  margin-bottom: 45pt;
  text-align: center;
}

.projects_nav img {
  width: 150px;
  margin-left: 20px;
  margin-right: 20px;
}

.projects_nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.project_captions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projects a:link {
  text-decoration: none;
}

.projects p {
  color: #EDAC92;
  font-size: 16pt;
  font-weight: bold;
  width: 150px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.projects p:hover {
  border-radius: 25px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  color: yellow;
}
*/


/* RESUME PAGE FORMATTING */

.resume {
  background-color: blanchedalmond;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resume h2 {
  color: tomato;
  padding: 0px;
  margin-left: 20%;
}

.resume h3 {
  color: tomato;
  padding: 0px;
  margin-right: 20%;
  text-align: right;
  display: block;
}

.resumelink {
  display: inline;
  text-decoration: none;
  color: blanchedalmond;
  border: tomato 2px solid;
  background: tomato;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.resume .resumelink:hover {
  background-color: blanchedalmond;
  border: tomato 2px solid;
  color: tomato;
}

/*-------------------------------------------------------------------------------------------------------------*/
/* CONTACT PAGE FORMATTING */
/*-------------------------------------------------------------------------------------------------------------*/

.contact {
  background-color: blanchedalmond;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact h2 {
  color: tomato;
  text-align: center;
  margin-top: 0;
}

.contact p {
  color: tomato;
  text-align: center;
  font-size: 16pt;
}

.contact .media_links {
  display: flex;
  flext-direction: row;
  justify-content: center;
  border: 1px;
  width: 100%;
}

.contact img {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact .media_links img:hover {
  opacity: 0.5;
}

/* swing effect */
/* https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/ */

    @-webkit-keyframes swing
    {
        15% {-webkit-transform: translateX(5px); transform: translateX(5px); }
        30% {-webkit-transform: translateX(-5px); transform: translateX(-5px); }
        50% {-webkit-transform: translateX(3px); transform: translateX(3px); }
        65% {-webkit-transform: translateX(-3px); transform: translateX(-3px); }
        80% {-webkit-transform: translateX(2px); transform: translateX(2px); }
        100% {-webkit-transform: translateX(0); transform: translateX(0); }
    }
    @keyframes swing
    {
        15% {-webkit-transform: translateX(5px); transform: translateX(5px); }
        30% {-webkit-transform: translateX(-5px); transform: translateX(-5px); }
        50% {-webkit-transform: translateX(3px); transform: translateX(3px); }
        65% {-webkit-transform: translateX(-3px); transform: translateX(-3px); }
        80% {-webkit-transform: translateX(2px); transform: translateX(2px); }
        100% {-webkit-transform: translateX(0); transform: translateX(0); }
    }


